.enter, .leave{
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 100ms;
}

.enter-from, .leave-to{
    transform: scale(.95);
    opacity: 0;
}

.enter-to, .leave-from{
    transform: scale(1);
    opacity: 1;
}