@keyframes bar {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.aside-container,
.header,
.header-title {
  height: 100%;
  width: 100%;
}

.aside {
  background-color: #17181b;
  align-items: center;
  display: flex;
  height: 78px;
  top: 0;
  position: absolute;
  overflow: hidden;
  width: 20%;
  z-index: 20;

  .aside-container {
    padding: 0px 20px;
    position: relative;

    .header {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
      position: relative;

      .header-title {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 1rem;

        span {
          display: none;
          font-size: 1.1rem;
          overflow: hidden;
        }
      }

      .icon {
        height: 24px;
        cursor: pointer;
        width: 24px;
      }
    }

    .aside-menu {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      
    }

    .aside-footer {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;
      width: fit-content;

      &:hover::after {
        animation: bar 1s forwards;
        background-color: #f00;
        bottom: 0;
        content: "";
        height: 1px;
        position: absolute;
      }

      .aside-footer-container {
        align-items: flex-end;
        color: white;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        height: 100%;
        gap: 1.2rem;
        padding-bottom: 10px;
        text-decoration: none;
        width: 100%;
      }
    }
  }
}

.aside.closed {
  align-items: flex-start;
  transition: height 0.5s;

  .aside-container {
    overflow: hidden;

    .header,
    .header-title {
      justify-content: center;
    }

    header .header-title {
      padding-top: 3px;
      svg {
        height: 32px;
        width: 32px;
      }
    }
  }

  .closed {
    display: none;
  }
}

.aside.open {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 101;

  .aside-container {
    background-color: #17181b;
    display: grid;
    grid-template-rows: 5% 85% 10%;
    width: 55%;

    .header {
      align-items: flex-start;
      flex-direction: row;
      height: auto;
      width: 100%;
      gap: 1.3rem;

      .header-title {
        align-items: flex-start;
        width: 7rem;

        span {
          display: block;
        }
      }
    }

    .aside-menu {
      gap: 0.5rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .aside {
    height: 100vh;
    position: fixed;
    width: 4%;
    z-index: 101;

    .aside-container {
      display: grid;
      grid-template-rows: 10% 75% 10%!important;
      
      svg{
        height: 20px;
        width: 20px;
      }
    }

    &.closed {
      .aside-container {
        height: 100%;
        width: 100%;

        .header {
          height: auto;
          .header-title {
            justify-content: flex-start;
          }
        }

        .aside-footer a span{
          display: none;
        }
      }
    }

    &.open {
      height: 100%;
      transition: width 0.5s ease-in-out;
      width: 20%;

      .aside-container {
        width: 100%;

        .header {
          align-items: center;
          height: auto;
          width: 100%;

          .header-title {
            align-items: center;
            height: auto;
            width: 7rem;

            span {
              display: block;
            }
          }

          .closed {
            display: none;
          }

          .icon {
            height: 32px;
            width: 32px;
          }
        }
      }
    }
  }
}
