.featuredFilm{
    height: 25rem;
    position: relative;
    width: 100%;

    .TabPanel, .TabList{
        position: absolute;
        z-index: 100;
    }

    .TabList{
        bottom: 10%;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        right: 25%;

        .tabble{
            background: transparent;
            border: none;
            color: white;
            cursor: pointer;
            display: block;
            font-size: 1rem;
            position: relative;
            outline: none;

            &.open:after{
                content: '';
                background-color: #f00;
                border-radius: 25px;
                bottom: -18px;
                display: block;
                height: .5rem;
                left: 0; 
                margin-left: auto; 
                margin-right: auto; 
                right: 0; 
                position: absolute;
                width: 29px;
                z-index: 100;
            }

        }
    }

    .TabPanel{
        left: 10%;
        top: 40%;
    }
}

@media only screen and (min-width: 1024px) {
    .featuredFilm{
        height: 35rem;

        img{
            height: 99%!important;
        }
    }
}