.aside-container,
.header,
.header-title {
  height: 100%;
  width: 100%;
}

.aside {
  background-color: #17181b;
  align-items: center;
  display: flex;
  height: 11%;
  top: 0;
  position: absolute;
  transition: height 0.5s;
  width: 20%;
  z-index: 101;

  .aside-container {
    position: relative;

    .header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      position: relative;

      .header-title {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 1rem;

        span {
          display: none;
          font-size: 1.1rem;
          overflow: hidden;
        }
      }

      .icon {
        height: 24px;
        cursor: pointer;
        width: 24px;
      }
    }
  }
}

@media screen and (max-width: 763px) {
  .aside.closed {
    .aside-container {
      .header,
      .header-title {
        justify-content: center;
      }

      header .header-title {
        padding-top: 3px;
        svg {
          height: 26px;
          width: 26px;
        }
      }
    }

    .closed {
      display: none;
    }
  }

  .aside.open {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 101;

    .aside-container {
      background-color: #17181b;
      width: 55%;

      .header {
        align-items: center;
        flex-direction: row;
        height: auto;
        width: 100%;
        gap: 1.3rem;
        padding: 25px 10px;

        .header-title {
          width: 7rem;
        }
      }
    }
  }
}

@media screen and (min-width: 764px) {
  .aside {
    border-right: 1px solid #464b55;
    height: 100%;
    width: 20%;
    transition: width 0.5s ease-in-out;
    position: relative;

    .aside-container .header {
      height: auto;
      width: 100%;
      padding: 20px;

      .header-title {
        height: auto;
        width: 7rem;
      }

      .closed {
        display: none;
      }

      .icon {
        height: 32px;
        width: 32px;
      }
    }
  }
}
