@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300&family=Concert+One&family=Sora:wght@400;600;700&display=swap');

@mixin height-width($height, $width) {
  height: $height;
  width: $width;
}

.body-container {
  @include height-width(100vh, 100vw);
  display: flex;
  overflow-x: hidden;

  section {
    @include height-width(100%, 100%);

    .swiper-button-prev,
    .swiper-button-next {
      color: white;
    }

    .swiper-pagination span {
      background-color: limegreen;
    }
  }

  @media screen and (min-width: 1024px) {
    section {
      margin-left: auto;
      width: 80%;
    }
  }

  @media screen and (min-width: 1536px) {
    section {
      margin-left: auto;
      width: 100%;
    }
  }
}

h1,
h2,
span,
li,
p,
svg {
  color: white;
}

* {
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
}
