.main {
  background-color: #17181b;
  display: flex;
  height: auto;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: auto;
  padding-top: 18%;
  transition: width 0.5s ease-in-out;
  width: 100%;
}

@media (min-width: 1024px) {
  .main {
    padding-top: 0;
    padding: 0 20px;
    width: 100%;
  }
}
