aside {
    align-items: center;
    display: flex;
    height: auto;
    width: 20%;

    .aside-container {
        height: 100%;
        position: relative;
        width: 100%;

        header {
            align-items: center;
            display: flex;
            justify-content: space-between;
            height: 100%;
            position: relative;
            width: 100%;

            .header-title{
                align-items: center;
                display: flex;
                flex-direction: row;
                gap: 1rem;
                height: auto;
                width: 2rem;

                span{
                    font-size: 1.1rem;
                    overflow: hidden;
                }
            }

            svg{
                min-height: 32px;
                min-width: 32px;
            }

            .X{
                cursor: pointer;
            }
        }
    }
}

aside.closed {
    .aside-container {
        header {
            justify-content: center;
        }
    }

    .closed {
        display: none;
    }
}

aside.open{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: 100;

    .aside-container{
        background-color: #17181B;
        width: 55%;

        header {
            align-items: center;
            flex-direction: row;
            gap: 1.3rem;
            height: auto;
            padding: 25px 10px;
            width: 100%;

            .header-title{
                width: 7rem;
            }
        }
    }
}

@media (min-width: 768px) {
    aside{
        border-right: 1px solid #464b55;
        transition: width 0.5s ease-in-out;
        width: 10%;
    }

    aside.open {
        background-color: #17181B;
        position: fixed;
        width: 20%;

        .aside-container {
            height: -webkit-fill-available;
            width: 100%;

        }

        .closed {
            display: block;
        }
    }
}
