@use '../../../global.scss';

aside {
    @include global.height-width(auto, 20%);
    align-items: center;
    display: flex;

    .aside-container {
        @include global.height-width(100%, 100%);
        position: relative;

        header {
            @include global.height-width(100%, 100%);
            align-items: center;
            display: flex;
            justify-content: space-between;
            position: relative;

            .header-title{
                @include global.height-width(auto, 2rem);
                align-items: center;
                display: flex;
                flex-direction: row;
                gap: 1rem;

                span{
                    font-size: 1.1rem;
                    overflow: hidden;
                }
            }

            svg{
                min-height: 32px;
                min-width: 32px;
            }

            .X{
                cursor: pointer;
            }
        }
    }
}

aside.closed {
    .aside-container {
        header {
            justify-content: center;
        }
    }

    .closed {
        display: none;
    }
}

aside.open{
    @include global.height-width(100vh, 100vw);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 100;

    .aside-container{
        background-color: #17181B;
        width: 55%;

        header {
            @include global.height-width(auto, 100%);
            align-items: center;
            flex-direction: row;
            gap: 1.3rem;
            padding: 25px 10px;

            .header-title{
                width: 7rem;
            }
        }
    }
}

@media (min-width: 768px) {
    aside{
        border-right: 1px solid #464b55;
        transition: width 0.5s ease-in-out;
        width: 10%;

        .aside-container{
            overflow: hidden;
        }
    }

    aside.open {
        background-color: #17181B;
        position: fixed;
        width: 20%;

        .aside-container {
            height: -webkit-fill-available;
            width: 100%;
        }

        .closed {
            display: block;
        }
    }
}