@keyframes bar {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.header {
  background-color: #17181b;
  display: flex;
  height: auto;
  justify-content: start;
  position: fixed;
  width: 100%;
  z-index: 100;

  .headerContainer {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-between;
    margin-left: auto;
    padding: 20px 0;
    width: 80%;

    .ul {
      display: flex;
      flex-direction: row;
      gap: 0.8rem;
      list-style-type: none;
      
      .a{
        text-decoration: none;
        .li {
          cursor: pointer;
          font-size: 0.8rem;
          padding-bottom: 0.2rem;
          position: relative;
  
          &:hover::after {
            animation: bar 0.6s forwards;
            background-color: #f00;
            bottom: 0;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
          }
        }
      }
      &:nth-child(1){
        color: red;
      }
      &:nth-child(2){
        color: yellow;
      }
      &:nth-child(3){
        color: purple;
      }
      &:nth-child(4){
        color: orange;
      }

    }

    .profile {
      background: linear-gradient(to right, red, white) border-box;
      border: 2px solid transparent;
      border-radius: 50em;
      cursor: pointer;
      height: 2.375rem;
      margin-right: 1rem;
      position: relative;
      width: 2.375rem;

      img {
        border-radius: 50%;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .header{
    position: relative;

    .headerContainer {
      width: 65%;
  
      .ul {
        gap: 2rem;

        .a{
          .li {
            font-size: 1rem;
          }
        }
  
      }
  
      .profile {
        height: 2.8125rem;
        margin-right: 5rem;
        width: 2.8125rem;
      }
    }
  }
}