@keyframes bar {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.header {
  background-color: #17181b;
  display: flex;
  height: auto;
  justify-content: start;
  position: fixed;
  width: 100%;
  z-index: 100;

  .headerContainer {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-around;
    margin-left: auto;
    padding: 20px 0;
    width: 70%;

    .search-container {
      align-items: center;
      background-color: #666;
      border-radius: 25px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      height: auto;
      padding: 8px 10px;
      width: 30%;

      input {
        background-color: transparent;
        color: white;
        border: none;
        outline: none;
      }
    }

    .profile {
      background: linear-gradient(to right, red, white) border-box;
      border: 2px solid transparent;
      border-radius: 50em;
      cursor: pointer;
      height: 2.375rem;
      margin-right: 1rem;
      position: relative;
      width: 2.375rem;

      img {
        border-radius: 50%;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .header {
    position: relative;

    .headerContainer {
      justify-content: space-between;
      width: 65%;

      .ul {
        gap: 2rem;

        .a {
          .li {
            font-size: 1rem;
          }
        }
      }

      .profile {
        height: 2.8125rem;
        margin-right: 5rem;
        width: 2.8125rem;
      }
    }
  }
}
