@use '../../global.scss';

header {
    @include global.height-width(auto, 100%);
    background-color: #17181B;
    display: flex;
    justify-content: start;
    position: fixed;

    .header-container {
        @include global.height-width(auto, 80%);
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        padding: 20px 0;

        ul {
            display: flex;
            flex-direction: row;
            gap: 0.8rem;
            list-style-type: none;

            li{
                cursor: pointer;
                font-size: 0.8rem;

                &:hover{
                    text-decoration: underline;
                    text-underline-offset: 0.2rem;
                }
            }

            &.page1, &.page2, &.page3, &.page4{
                li:nth-child(1){
                    color: red;
                }
            }
        }

        .profile {
            @include global.height-width(2.375rem, 2.375rem);
            background: linear-gradient(to right, red, white) border-box;
            border: 2px solid transparent;
            border-radius: 50em;
            cursor: pointer;
            margin-right: 1rem;
            position: relative;

            img{
                @include global.height-width(100%, 100%);
                border-radius: 50%;
                object-fit: cover;
            }
        }

    }
    @media (min-width: 768px) {
        .header-container{
            width: 65%;

            ul{
                gap: 2rem;
    
                li{
                    font-size: 1rem;
                }
            }

            .profile{
                @include global.height-width(2.8125rem, 2.8125rem);
                margin-right: 5rem;
            }
        }
    }
}
